* {
    font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* normal weight */
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

h1 {
    font-size: 84px;
    font-weight: 800; /* extra bold */
    line-height: 84px;
    letter-spacing: -2px;
    text-align: center;
}

h3 {
    font-weight: 600; /* semi-bold */
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

h2 {
    font-weight: 700; /* bold */
    font-size: 44px;
    line-height: 48px;
    letter-spacing: 2px;
    text-align: center;
}

p {
    font-weight: 500; /* medium */
    font-size: 16px;
    line-height: 24px;
}
